
body {
    background: url('camelo2.jpg');
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container {
    display: flex;
    flex-flow: column;
    place-items: center center;
    row-gap: 20px;
    margin: 5%;
    color: aliceblue;
    font-family: sans-serif;
    font-weight: 400;
}

header {
    box-sizing: border-box;
}

h1 {

}

p{
padding: 0 25% 0 25% ;
}

main {
    background-color: rgba(0, 0, 0, 0.753);
    padding: 5%;
    border-radius: 10px;
}

form {
    font-size: large;
}

label {
    margin-bottom: 1.5%;
}

input,
select,
textarea{
    margin-bottom: 6%;
    font-size: large;
    border-radius: 5px;
    border-style: none;
    height: 40px;
}

span{
    font-size: small;
    margin-left: 2%;
    font-weight: lighter;
}

fieldset{
    margin-left: -3%;
    font-size: large;
    border-radius: 5px;
    border-style: none;
}

.block {
    display: block;
}

.caixa {
    width: 100%;
}

#enviar {
    background-color: green;
    color: aliceblue;
    height: 50px;
    cursor: pointer;
}

textarea{
    height: 70px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

