
body {
    background-image: url('camelo2.jpg');
}

.container {
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(255, 0, 0, 0.068);
    align-content: center;
    
}

header {

}

main {

}

form {

}

div .titulo {

}